body {
    font-family: "Montserrat", sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.invisivel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ==========================
   CABEÇALHO / MENU
========================== */
#menu-area {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img-logo {
    width: 70px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    margin: 10px;
}

nav a:hover {
    color: #f6a623;
}

#money {
    background-color: #f6a623;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
}





/*area primeiro form*/

#section-area-texto-projetos {
    padding-top: 5.6rem;
    background-color: #fff3d4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#section-area-texto-projetos form {
    margin-bottom: 10px;
}

#definicao-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#area-titulo-projeto {
    width: 50%;
    display: flex;
    justify-content: center;
}

.texto-introducao {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#tamanho-img-cadastro1 img,
source {
    width: 600px;
    display: flex;
    align-items: center;
}

form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhamento-formulario {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%;
}

#legenda {
    font-weight: bold;
}

.label-espaco {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    text-align: left;

}

.input-espaco {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin: 5px 5px;
    padding-left: 5px;
}

#espacamento {
    margin-top: 10px;
}

.separados {
    margin-bottom: 10px;
}

.ladoalado {
    display: flex;
    width: 100%;
}

#botao-enviar {
    margin-top: 10px;
    padding: 5px;
    width: 10%;
    font-family: "Montserrat", sans-serif;
    background-color: #fdf497;
    border: 2px solid #fcb902;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#botao-enviar:hover {
    background-color: #f5e967;
    border: 2px solid #e6ab0c;
}

/*-------------------------*/


/*primeiro formulario campos*/

#nomecad,
#cpfcad,
#telefonecad {
    width: 23em;
}

#emailcad,
#enderecocad {
    width: 61em;
}

#nascimentocad {
    width: 18em;
}

#cepcad,
#cidadecad,
#estadocad {
    width: 15em;
}

#nome,
#cpf,
#email {
    width: 35em;
}

#idade,
#telefone {
    width: 16.8em;
}

/*----------------------------*/

#texto-padrinho {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#texto-padrinho-espaco {
    width: 60%;
}

#texto-padrinho2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#texto-padrinho-espaco2 {
    width: 60%;
}


.divisao-img-texto {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section-area-imagem {
    width: 100%;
    display: flex;
    justify-content: center;
}

#section-area-imagem img,
picture {
    width: 600px;
    border-radius: 20px;
}

.alinhamento-formulario2 {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 60%;
}


#botao-enviar-segundo {
    margin-top: 10px;
    padding: 5px;
    width: 10%;
    font-family: "Montserrat", sans-serif;
    background-color: #fdf497;
    border: 2px solid #fcb902;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}







#section-footer {
    height: 40vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff3d4;
}

#separador {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


#area-logo-infos {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#img-footer-area {
    width: 50%;
    display: flex;
    justify-content: end;
}

#logo-footer {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
}

#texto-area-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#espaco-texto-footer,
#espaco-icon-footer {
    width: 55%;
}


#icons-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

#icons {
    display: flex;
    padding-bottom: 20px;
}

.redes-socias-footer,
.icons-footer {
    padding: 0;
    margin: 6px;
    width: 40px;
    height: 30px;

}

.icons-footer {
    text-decoration: none;
    color: #ffffff;
}

#background-icons1 {
    background: radial-gradient(circle at 80% 20%, #fdf497 0%, #fd5949 35%, #d6249f 70%, #285AEB 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#background-icons2 {
    background-color: #4767f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#background-icons3 {
    background-color: #ff0000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}



#area-contatos {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

#espaco-endereco {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacoes {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 9fr;

}

.texto-icon {
    display: flex;
    align-items: center;

}

.infos {
    margin-left: 10px;
}

.icons-area-footer {
    width: 30px;
    height: 30px;
    margin: 10px 0;
}


@media (max-width: 375px) {
    #menu-area {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
    }

    nav {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
    }

    #img-logo {
        width: 5em;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

    nav a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #333;
    }

    #area-titulo-projeto {
        width: 100%;
    }

    h1 {
        font-size: 1rem;
        color: #f6a623;

    }

    #tamanho-imagem-espaco {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .texto-introducao {
        font-size: 0.9rem;
    }

    #tamanho-img-cadastro1,
    .img-cachorro {
        display: none;
    }

    .divisao-img-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }



    form {
        width: 100%;
    }

    .alinhamento-formulario {
        width: 100%;
    }

    .ladoalado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .label-espaco {
        margin-top: 10px;

    }

    #emailcad,
    #enderecocad,
    #nascimentocad,
    #cepcad,
    #estadocad,
    #cidadecad,
    #nome,
    #email,
    #cpf,
    #telefone,
    #idade {
        width: 23em;
    }

    #botao-enviar,
    #botao-enviar-segundo {
        margin-top: 1rem;
        padding: 5px;
        width: 23%;
        font-size: 1.2em;
        font-family: "Montserrat", sans-serif;
        background-color: #fdf497;
        border: 2px solid #fcb902;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }



    #texto-padrinho-espaco,
    #texto-padrinho-espaco2 {
        width: 100%;
    }

    .texto-padrinho {
        font-size: 0.9rem;
    }


    .alinhamento-formulario2 {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100%;
    }

    #section-footer {
        height: 85vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #img-footer-area {
        width: 90vw;
        display: flex;
        justify-content: start;
        margin: 0 10px;
    }

    #logo-footer {
        height: 13vh;
        width: 25vw;
        border-radius: 1em;
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    }


    #texto-area-footer #espaco-texto-footer {
        width: 90%;
    }


    #icons-area {
        width: 90%;
        display: flex;
        justify-content: start;
        margin: 0 10px;
    }




    #espaco-endereco {
        width: 90vw;
        margin: 1rem;
        padding: 0;
    }


    .texto-icon {
        display: flex;
        align-items: center;
        width: 95vw;
    }

    .icons-area-footer {
        display: none;
    }
}

@media (min-width: 376px) and (max-width: 600px) {
    #menu-area {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
    }

    nav {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
    }

    #img-logo {
        width: 5em;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

    nav a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #333;
    }

    #area-titulo-projeto {
        width: 100%;
    }

    h1 {
        font-size: 1rem;
        color: #f6a623;

    }

    #tamanho-imagem-espaco {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .texto-introducao {
        font-size: 0.9rem;
    }

    #tamanho-img-cadastro1,
    .img-cachorro {
        display: none;
    }

    .divisao-img-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }



    form {
        width: 100%;
    }

    .alinhamento-formulario {
        width: 100%;
    }

    .ladoalado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .label-espaco {
        margin-top: 10px;

    }

    #emailcad,
    #nomecad,
    #cpfcad,
    #telefonecad,
    #enderecocad,
    #nascimentocad,
    #cepcad,
    #estadocad,
    #cidadecad,
    #nome,
    #email,
    #cpf,
    #telefone,
    #idade {
        width: 26em;
    }

    #botao-enviar,
    #botao-enviar-segundo {
        margin-top: 1rem;
        padding: 5px;
        width: 23%;
        font-size: 1.2em;
        font-family: "Montserrat", sans-serif;
        background-color: #fdf497;
        border: 2px solid #fcb902;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }



    #texto-padrinho-espaco,
    #texto-padrinho-espaco2 {
        width: 100%;
    }

    .texto-padrinho {
        font-size: 0.9rem;
    }


    .alinhamento-formulario2 {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100%;
    }

    #section-footer {
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #img-footer-area {
        width: 90vw;
        display: flex;
        justify-content: start;
        margin: 0 10px;
    }

    #logo-footer {
        height: 13vh;
        width: 25vw;
        border-radius: 1em;
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    }


    #texto-area-footer #espaco-texto-footer {
        width: 90%;
    }


    #icons-area {
        width: 90%;
        display: flex;
        justify-content: start;
        margin: 0 10px;
    }




    #espaco-endereco {
        width: 90vw;
        margin: 1rem;
        padding: 0;
    }


    .texto-icon {
        display: flex;
        align-items: center;
        width: 95vw;
    }

    .icons-area-footer {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    #menu-area {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    #img-logo {
        width: 5em;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

    nav a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #333;
    }

    #area-titulo-projeto {
        width: 100%;
    }

    h1 {
        font-size: 1rem;
        color: #f6a623;

    }

    #tamanho-imagem-espaco {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .texto-introducao {
        font-size: 0.9rem;
    }

    #tamanho-img-cadastro1 img,
    source {
        width: 300px;
        display: flex;
        align-items: center;
    }

    .divisao-img-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }



    form {
        width: 100%;
    }

    .alinhamento-formulario {
        width: 100%;
    }

    .ladoalado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .label-espaco {
        margin-top: 10px;

    }

    #emailcad,
    #nomecad,
    #cpfcad,
    #telefonecad,
    #enderecocad,
    #nascimentocad,
    #cepcad,
    #estadocad,
    #cidadecad,
    #nome,
    #email,
    #cpf,
    #telefone,
    #idade {
        width: 26em;
    }

    #botao-enviar,
    #botao-enviar-segundo {
        margin-top: 1rem;
        padding: 5px;
        width: 23%;
        font-size: 1.2em;
        font-family: "Montserrat", sans-serif;
        background-color: #fdf497;
        border: 2px solid #fcb902;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }



    #texto-padrinho-espaco,
    #texto-padrinho-espaco2 {
        width: 100%;
    }

    .texto-padrinho {
        font-size: 0.9rem;
    }


    .alinhamento-formulario2 {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100%;
    }

    #section-footer {
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #img-footer-area {
        width: 90vw;
        display: flex;
        justify-content: start;
        margin: 0 10px;
    }

    #logo-footer {
        height: 13vh;
        width: 25vw;
        border-radius: 1em;
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    }


    #texto-area-footer #espaco-texto-footer {
        width: 90%;
    }


    #icons-area {
        width: 90%;
        display: flex;
        justify-content: start;
        margin: 0 10px;
    }




    #espaco-endereco {
        width: 90vw;
        margin: 1rem;
        padding: 0;
    }


    .texto-icon {
        display: flex;
        align-items: center;
        width: 95vw;
    }

    .icons-area-footer {
        display: none;
    }
}