* {
    margin: 0;
    /* Remove margens externas de todos os elementos */
    padding: 0;
    /* Remove preenchimentos internos de todos os elementos */
    box-sizing: border-box;
    /* Garante que padding e border não aumentem o tamanho do elemento */
}

:root {
    --cor-principal-escuro: #0b3558;
    --cor-secundaria-azul: #009ddd;
    --cor-destaque-claro: #05d3f8;
    --cor-texto-titulo: #3a3132;
    --cor-nav-fundo: #0b54c2;
    --cor-fundo-site: #ffffff;
    --cor-hover: #306d96;
    --cor-borda-suave: #e0e0e0;
    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-corpo: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    margin: 0px;
}
body {
    background-color: #dfb9b9;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#logo {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: center;
}


#menu-area nav {
    display: grid;
    grid-template-columns: 0.5fr 1.3fr;
    gap: 3rem;
    background-color:#ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
}

#menu-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#menu-area ul li .links {
    margin: 0.5em;
    padding: 0.4em;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--cor-principal-escuro)
}

#menu-area .links:hover {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--cor-hover)
}

#menu-area picture img {
    max-height: 10vh;
    width: auto;
}


#section-area-volutarios{
    
    padding-top: 6.3em;

}








#section-footer {
    height: 35vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #05d3f8;
}


#area-logo-infos {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#img-footer-area {
    width: 50%;
    display: flex;
    justify-content: end;
}

#logo-footer {
    height: 200px;
    width: 200px;

}

#texto-area-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#espaco-texto-footer,
#espaco-icon-footer {
    width: 55%;
}


#icons-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

#icons {
    display: flex;
}

.redes-socias-footer,
.icons-footer {
    padding: 0;
    margin: 6px;
    width: 40px;
    height: 30px;

}

.icons-footer {
    text-decoration: none;
    color: #ffffff;
}

#background-icons1 {
    background: radial-gradient(circle at 80% 20%, #fdf497 0%, #fd5949 35%, #d6249f 70%, #285AEB 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#background-icons2 {
    background-color: #4767f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#background-icons3 {
    background-color: #ff0000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}



#area-contatos {
    width: 100%;
    display: flex;
       margin-top: 20px;
}
#espaco-endereco{
    width: 100%;
    flex-direction: row;
}
.informacoes{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 9fr;
    
}

.texto-icon{
    display: flex;
    align-items: center;
    
}
.infos{
    margin-left: 10px;
}

.icons-area-footer{
    width: 30px;
    height: 30px;
    margin: 10px 0;
}