* {
    margin: 0;
    /* Remove margens externas de todos os elementos */
    padding: 0;
    /* Remove preenchimentos internos de todos os elementos */
    box-sizing: border-box;
    /* Garante que padding e border não aumentem o tamanho do elemento */
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-principal-escuro: #0b3558;
    --cor-secundaria-azul: #009ddd;
    --cor-destaque-claro: #05d3f8;
    --cor-texto-titulo: #3a3132;
    --cor-nav-fundo: #0b54c2;
    --cor-fundo-site: #ffffff;
    --cor-hover: #306d96;
    --cor-borda-suave: #e0e0e0;
    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-corpo: 'Roboto', sans-serif;
}


body {
    background-color: #dfb9b9;
}

#logo {
    height: auto;
    width: auto;
}

#menu-area nav {
    display: grid;
    grid-template-columns: 0.5fr 1.3fr 0.1fr;
    gap: 3rem;
    background-color: var(--cor-fundo-site);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#menu-area nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#menu-area nav ul li .links {
    margin: 0.5em;
    padding: 0.4em;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--cor-principal-escuro)
}

#menu-area .links:hover {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--cor-hover)
}

#menu-area nav picture img {
    max-height: 10vh;
    width: auto;
}




/*inicio body*/

#section-inicio-area {
    padding-top: 6.3em;
}

#section-inicio-img {
    height: 39.9vh;
}

#section-inicio-img img {
    background-color: #dfb9b9;
    height: 100%;
    width: 100%;
}






#acao {
    padding-top: 1.3rem;
}

#section-area-acao {
    height: 43vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}

#area-acao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25vh;
    width: 70%;
    text-align: center;
    font-size: x-small;
}

.quadro-acao,
.subtitulo {
    padding: 1em;
    font-size: 1.4em;
}

.titulo {
    font-size: 2em;
}








#section-area-metrica {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #05d3f8;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

#area-impacto {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.area-img-metrica,
img {
    height: 10rem;
    width: 10rem;
}

.metricas,
picture {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quantidade {
    padding: 0.5rem;
}

h1,
h2 {
    text-align: center;
    padding: 0.4em;
    width: 100%;
}






#section-area-resultado {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#area-grafico {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#imgrafico,
img {
    height: 90%;
    width: 60%;

}





#section-area-missao {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b54c2;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

#bloco-area-missão {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.bi {
    width: 4em;
    height: 4em;
    margin: 2rem;
}

.area-bloco {
    width: 100%;
    padding: 2rem;
}





#section-inicio-doacao {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#area-inicio-doacao-info {
    width: 100%;
    height: 100%;
    justify-items: center;
}

#area-conteudo-doacao {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area-titulo-doacao {
    width: 90%;
    margin: 1rem;
}

#area-subt-doação {
    width: 90%;
    padding-right: 9rem;
    margin: 1rem;
}

#texto-titulo,
#area-botao-doacao {
    text-align: start;
}

#area-botao-doacao {
    width: 90%;
}

#link-doacao {
    text-decoration: none;
    color: #550202;

    
}
#link-doacao:hover{
     color: rgb(58, 100, 60)
}

#botao-body {
    width: 40%;
    border: 2px solid wheat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
#botao-body:hover {
    border: 2px solid rgb(92, 247, 100);
}


#bi-arrow-right-short {
    width: 2rem;
    height: 2rem;
    padding: 0.1em;
    color: #e0e0e0;
}
#bi-arrow-right-short:hover{
    color:rgb(78, 119, 80);
}
